
@{
    ViewBag.Title = "Duyurular";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="pagetitle">
    <h1>Duyurular</h1>
</div><!-- End Page Title -->

<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#verticalycentered">
    Ekle
</button>

<div class="modal fade" id="verticalycentered" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Ekle</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form action="/Admin/DuyuruEkle" method="post">

                <div class="modal-body">
                    <input type="text" name="Baslik" placeholder="Başlık" id="Baslik" class="form-control" />

                    <input type="text" name="Aciklama" placeholder="Açıklama" id="Aciklama" class="form-control mt-2" />


                </div>
                <div class="modal-footer">

                    <button type="submit" class="btn btn-success">Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div><!-- End Vertically centered Modal-->
<br />
<div class="card-body">
    <h5 class="card-title">Duyuru Listesi</h5>
    <div class="table-responsive">
        <table class="table table-borderless datatable">
            <thead>
                <tr>

                    <th scope="col">Tarih</th>
                    <th scope="col">Başlık</th>
                    <th scope="col">Açıklama</th>
                    <th scope="col">Yayında Mı?</th>


                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.Duyurular)
                {

                    <tr>

                        <td>@item.Tarih.ToString("dd/MM/yyyy")</td>
                        <td>@item.Baslik</td>
                        <td>@item.Aciklama</td>

                        @if (item.Durum == "A")
                        {
                            <td>Evet</td>
                        } @if (item.Durum == "P")
                        {
                            <td>Hayır</td>
                        }

                        @if (item.Durum == "A")
                        {
                            <td><a href="/Admin/DuyuruPasifeAl/@item.ID" class="badge bg-danger">Pasife Çek</a> </td>
                        }
                        @if (item.Durum == "P")
                        {
                            <td><a href="/Admin/DuyuruAktifeAl/@item.ID" class="badge bg-warning">Yeniden Yayınla</a> </td>
                        }

                    </tr>

                }

            </tbody>
        </table>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    $(document).ready(function() {
        @if (TempData["Hata"] != null)
        {
            <text>
                Swal.fire({
                    icon: 'error',
                    title: 'HATA!',
                    text: '@Html.Raw(HttpUtility.JavaScriptStringEncode(TempData["Hata"].ToString()))'
                });
            </text>
        }

        @if (TempData["Basarili"] != null)
        {
            <text>
                Swal.fire({
                    icon: 'success',
                    title: 'Başarılı!',
                    text: '@Html.Raw(HttpUtility.JavaScriptStringEncode(TempData["Basarili"].ToString()))'
                });
            </text>
        }
    });


</script>


